<a href="https://colab.research.google.com/github/dilshadak/pythonCourse/blob/main/02_Elemetary_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python
### Our job is to take information from the real world and put it into computer.

## Numeric

In [ ]:
#Int (Integer)
1
10
123
type(123)

In [ ]:
#Float
1.234
0.0123
0.123.123.

In [ ]:
# Complex Numbers
1 + 2j
0.23 - 0.23j
3 + 4i

## String

In [ ]:
# String
hi
'hi'
'''hi'''
"hi"
"""hi"""

## Boolean

In [ ]:
#Boolean (True/False)
True

False

true

false

FALSE

TRUE

## Sequence Type

In [ ]:
# List
[]
[1,2,3]
['a',2,"b", True]
[1,'a',[2,3,'b'],[2,['a']]]

type([])

In [ ]:
# tuple
()
(1)
(2,)
(1,2)
(1,2,3)
(1,'a',2)
(1,2,(2,3,4))
(1,2,'a',[],3)

## Mutable and Immutable

In [ ]:
# Lists are Mutable
x = [1,2]
print(x)
y = x
y.append(3)

print(x)
print(y)

## Key value pairs

In [ ]:
# Dictionaries
# Valid key value
{}
{'key':1}
{'key':'value'}
{True:1, False:3}
{1:2}
{1.2:2.4}
{1:'value'}
{'key':[]}
{'key':()}
{1:'value', 'key':1, 'k':[], 'v':()}
{'key':{1:'value'}, 1:[], 2:()}
{(1,):2}
{(1,2):2}

# Invalid keys for dictionary
{[]:2}
{{}:2}

### Set

In [ ]:
{1,2,3}
{1,2,3,3}
{1,'a',{1,2}}
{2,'a',[1,2]}