<a href="https://colab.research.google.com/github/dilshadak/pythonCourse/blob/main/03_Conditions_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Comparison Operators

In [ ]:
#Equal

2 == 2

In [ ]:
#Not equal

2 != 3

In [ ]:
# Greater than

2 > 3

In [ ]:
# Less than

4 < 5

In [ ]:
#Greater than or equal to

4 >= 2

In [ ]:
# Less than or equal to

4 <=1

### Logical Operators

In [ ]:
# Logical 'and'
 
2 == 2 and 2 < 3

True

In [ ]:
# Logical 'or'

2 < 1 or 4 > 2

In [ ]:
# Logical negation 'not'

not 4 < 2

### Identity Operators

In [ ]:
type('a') is type('b')

type('a') is not type(1)

### Membership operator

In [ ]:
1 in [1,2,3]
3 not in {2,4}
4 in ('a', 'b')

### if condition

In [ ]:
if 2 > 1:
    print(True)
    
if 1 in [1,2,3]:
    print('Found')

In [ ]:
if 1 > 2:
    print ('1 is not greater than 2')
else:
    print('1 is less than 2')

a = 3
b = 4
if a > b:
    print(a,'is greater than', b)
elif a < b:
    print(a,'is less than', b)
elif a == b:
    print(a,'is equal to', b)
else:
    print('comparison between', a, 'and', b, 'is not defined')

1 is less than 2
3 is less than 4

In [ ]:
# if conditions in a line
y = 0
x = 1 if y > 1 else 0
print(x)

0

### for loop

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
for i in range(10):
    print (i*2, end=', ')
else:
    print('Done')

In [ ]:
# Filter even and odd numbers from 0 to 10
for i in range(11):
    if i%2==0:
        print(i, 'is even number')
    else:
        print(i, 'is odd number')

### While loop

In [ ]:
i = 0
while i < 10:
    print(i)
    i +=1

## Odd Even Game

In [ ]:
instructions = '''Rules: 
1. Type numbers as asked by computer
2. Tye 0 for even, 1 for odd
3. If your answer is correct then you win
4. Type "-1" to quit the game
'''
print(instructions)
    
for _ in range(100):
      
    number = int(input('Type Number: '))
    if number == -1:
        break
    evenodd = int(input(f'{number} is Even/Odd Type 0/1: '))
    
    if number % 2 == 0 and evenodd == 0 :
        print(f'Yes, Number {number} is even, You Won !')
        
    elif number % 2 == 1 and evenodd == 1 :
        print(f'Yes, Number {number} is odd, You Won !')
        
    elif number % 2 == 0 and evenodd == 1 :
        print(f'No, Number {number} is even, You Lost :(')
        
    elif number % 2 == 1 and evenodd == 0 :
        print(f'No, Number {number} is odd, You Lost :(')
        
    else:
        print('In valid option type 0 or 1 only, Exiting')
        
        break

Rules:
1. Type numbers as asked by computer
2. Tye 0 for even, 1 for odd
3. If your answer is correct then you win
4. Type "-1" to quit the game

Type Number: 23
23 is Even/Odd Type 0/1: 1
Yes, Number 23 is odd, You Won !
Type Number: 323
323 is Even/Odd Type 0/1: 1
Yes, Number 323 is odd, You Won !
Type Number: 323
323 is Even/Odd Type 0/1: 1
Yes, Number 323 is odd, You Won !
Type Number: 3
3 is Even/Odd Type 0/1: 2
In valid option type 0 or 1 only, Exiting